{% extends 'base.html' %}

{% block head %}
<title>Edit Posts</title>
{% endblock %}

{% block body %}
<h2>Create New Blog Post:</h2>
    <form action='/posts/new' method='POST'>
        <label for="title">Title:</label><br>
        <input class="form-control" type='text' name='title' id='title'><br>
        <br>
        <label for="content">Post:</label><br>
        <textarea class="form-control" type='text' name='content' id='content'></textarea><br>
        <br>
        <label for="author">Author:</label><br>
        <input class="form-control" type='text' name='author' id='author'></input><br>
        <br>
        <input type='submit' value='Post'>
    </form>
    <hr>
{% endblock %}